<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="margin-top:8px">Weather Report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll="false">
  <!-- <ion-img  src="../../assets/images/weather.jpg"></ion-img> -->
  <ion-card class="background" style="height:100%;" scroll="false">
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title>{{city}} ,IN</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-text color="dark">
        <h1> {{temp | number : '1.0-0'}} &#8451;</h1>
      </ion-text>

      <ion-grid>
        <ion-row>
          <ion-col>
            Humidity
          </ion-col>
          <ion-col>
            Pressure
          </ion-col>
          <ion-col>
            Wind Speed
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{humidity}} %
          </ion-col>
          <ion-col>
            {{pressure}} hPa
          </ion-col>
          <ion-col>
            {{windSpeed}} m/s
          </ion-col>
        </ion-row>
            <ion-row style="margin-top: 20px;margin-bottom: 20px">
              <ion-col></ion-col>
              <ion-col>
                <!-- <ion-img  src="{{selectedImage}}"></ion-img> -->
                <ion-icon style="font-size: 120px" name="{{weaName}}"></ion-icon>
              </ion-col>
              <ion-col></ion-col>
            </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-item>
      <ion-input [(ngModel)]="selectedCity" type="text" placeholder="Search City"></ion-input>
    </ion-item>
    <ion-button  size="large" color="primary" (click)="searchCity()">Search</ion-button>
    
  </ion-card>


</ion-content>