<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [text]="" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{selectedNews?.title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="selectedNews">
    <ion-img *ngIf="selectedNews?.urlToImage !== null" [src]="selectedNews?.thread.main_image"></ion-img>
  <ion-card>  
    <ion-card-header>
        <ion-card-title>{{selectedNews?.title}}</ion-card-title>
        <ion-card-subtitle>{{selectedNews?.author}} | {{selectedNews?.thread.site}}</ion-card-subtitle>
      </ion-card-header>
    <ion-card-content>
      {{selectedNews?.text}}
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer no-shadow >
    <ion-toolbar position="bottom" color="primary">
        <ion-button size="large" color="primary" expand="full" (click)="goBack()">
            Back
        </ion-button>
    </ion-toolbar>
  </ion-footer>