ion-title {
    text-align: center;
    margin-top: 8px;
}
ion-card {
    border-radius: 0;
}
// ion-card-title {
//     font-size: 20px;
// }
// 
ion-row {
    border-bottom: 1px solid lightgrey;
}
p {
    font-size: 12px;
}
p.heading {
    font-weight: 700;
}