<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Headlines</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="background">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row *ngFor="let n of newsData" (click)="openSingleNews(n)">
      <ion-col size="4">
        <ion-img *ngIf="n.thread.main_image !== null" [src]="n.thread.main_image"></ion-img>
      </ion-col>
      <ion-col size="8">
        <ion-text>
          <p class="heading">{{n.title}}</p>
          <p>{{n.author}}</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading…">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>